*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;0,900;1,300;1,400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --cor_btn: #4A2127;
    --cor_horver: #C75D40;
    --cor_segundaria: #A84540;
    --cor_terciaria: #182B24;
}
header{
    width: 100%;
    height: 150px;
    background-color: var(--cor_terciaria);
    display: flex;
    padding-top: 40px;
    box-shadow: 1px 1px 10px black;

}
header .logo{
    width: 30%;
    cursor: pointer;
    text-align: center;
    color: var(--cor_horver);
}
header .logo:hover{
    color: var(--cor_segundaria);
    animation: 3s;

}
header nav{
    width: 70%;

}
header nav ul{
    display: flex;
    list-style: none;
   
}
header nav ul li{
    margin-left: 200px;
}
header nav ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}
header nav ul li a:hover{
    color: var(--cor_horver);
    text-decoration:  underline;
}